header {
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(76, 157, 211);
}

.deux {
    display: flex;
    align-items: center;
    width: 20%; 
    height: 5rem;
    border: 1px ridge black;
    justify-content: center;
    background-color: rgb(191, 227, 241);
}

.de_ux {
    display: flex;
    align-items: center;
    width: 20%; 
    height: 5rem;
    border: 1px ridge black;
    justify-content: center;
    background-color: rgb(191, 227, 241);
}

nav {
    display: flex;
    justify-content: space-around;
    width: 55%;
    height: 5rem;
    border: 1px ridge black;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 227, 241);
}


li {
    list-style: none;

}

.header {
    display: flex;
    justify-content: space-between;
    
}



.grand {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.hero {
    width: 100%;
    height: rem;
    background-color: rgb(76, 157, 211);
}

.double {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.hero_gauche {
    display: flex;
    width: 75%;
    height: 5rem;
    border: 1px ridge black;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 227, 241);
}

.hero_droite {
    display: flex;
    width: 20%;
    height: 5rem;
    border: 1px ridge black;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 227, 241);
}

.ad {
    display: flex;
    width: 20%;
    height: 5rem;
    border: 1px ridge black;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 107, 156);
}

.body {
    width: 100%;
    background-color: rgb(76, 157, 211);
    
}

.body_div {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    
}

.grand_2 {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.body_gauche {
    display: flex;
    width: 30%;
    height: 20rem;
    border: 1px ridge black;
    justify-content: center;
    align-items: center;
     background-color: rgb(191, 227, 241);
}

.body_droite{
    display: flex;
    width: 60%;
    height: 20rem;
    border: 1px ridge black;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 227, 241);
}

.sidebar {
    display: flex;
    width: 20%;
    height: 27rem;
    border: 1px ridge black;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 227, 241);
}


.side {
    
}
.footer {
    /* margin-top: 1rem; */
    width: 100%;
    height: 3rem;
    background-color: rgb(76, 157, 211);
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 390px) {
    
    .header {
        display: block;
        

    }

    .deux {
        width: 90%;
        height: 1.4rem;
        margin-left: 1rem;
        
    }

    .de_ux {
        display: flex;
        width: 40%;
        height: 1.8rem;
        margin-left: 54%; 
        margin-top: -1.95rem;
        
    }

    nav {
        display: flex;
        width: 40%;
        height: 1.7rem;
        margin-left: 1rem;
        margin-top: 0.8rem;
        list-style: none;
    }

    .hero_gauche {
        display: none;
    }

    .ad {
        display: none;
    }

    .double {
        justify-content: center
    }
    
    .hero_droite {
        width: 100%;
        height: 1.4rem;
    }
    

    .grand_2   {
        display: block;
    }

    .body_div {
        display: block;
    }
    
    .body_gauche {
        width: 100%;
        height: 2.2rem;
        margin-left: 3rem;
        margin-top: 0.4rem;
    }

    .body_droite {
        width: 100%;
        height: 6rem;
        margin-left: 3rem;
        margin-top: 0.4rem;
    }

    .sidebar {
        width: 90%;
        height: 2rem;
        margin-left: 1rem;
        margin-top: 0.4rem;
    }
}

    h2 {
        margin-left: 1rem;
    }
